<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MikuReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <connectionManagement>
      <add address="*"   maxconnection="20"   /> <!-- increase max connections to 20 for faster downloading (default 2) -->
    </connectionManagement>

  </system.net>
  <userSettings>
    <MikuReader.Properties.Settings>
      <setting name="languageCode" serializeAs="String">
        <value>gb</value>
      </setting>
      <setting name="homeDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="checkForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doublePageReader" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="highDPI" serializeAs="String">
        <value>False</value>
      </setting>
    </MikuReader.Properties.Settings>
  </userSettings>
</configuration>